# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Flask
instance/

# Project specific
scan_results/
scanner_tool/users.db 
.vercel
